<app-navigation></app-navigation>

<div class="page-container">

<img class="zoom" src="../../../../assets/images/planets/tat.png" style="width: 250px; position: relative; top: 10px; left: 20px">

<img class="zoom" src="../../../../assets/images/planets/tat.png" style="width: 70px; position: relative; top: -60px;left: 20px">

<img class="zoom" src="../../../../assets/images/planets/tat.png" style="width: 190px; position: relative; top: -30px;left: 10px">

<img class="zoom" src="../../../../assets/images/planets/tat.png" style="width: 120px; position: relative; top: -10px">

<img class="zoom" src="../../../../assets/images/planets/tat.png" style="width: 175px; position: relative; top: 40px">

<img class="zoom" src="../../../../assets/images/planets/tat.png" style="width: 50px; position: relative; top: 20px">

<img class="zoom" src="../../../../assets/images/planets/tat.png" style="width: 150px; position: relative; top: -60px">

<img class="zoom" src="../../../../assets/images/planets/tat.png" style="width: 150px; position: relative; top: -10px">

<img class="zoom" src="../../../../assets/images/planets/tat.png" style="width: 50px; position: relative; top: 10px">

<img class="zoom" src="../../../../assets/images/planets/tat.png">

</div>

<app-stars></app-stars>