@import "../../../../assets/styles/colors.scss";
@import "../../../../assets/styles/fonts.scss";

.page-container {
    font-family: 'Pathway Gothic One', sans-serif;
    z-index: 9;
    color: $sw-yellow;
    position: relative;
}    
    .zoom {
    cursor: pointer;
    max-width: 300px;
    padding: 50px;
    transition: transform .2s;
    margin: 0 auto;
  }
  
  .zoom:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
  }