<app-navigation></app-navigation>

<audio autoplay controls loop src="assets/sound/swt.mp3" id="audio-element"></audio>

<div class="fade"></div>

<app-stars></app-stars>

<section class="star-wars">

  <div class="crawl">

    <div class="title">
      <p>Episode 69</p>
      <h1>A new normal</h1>
    </div>

    <p>It is a period of unusual times.</p>
    <p>Although, they're perfectly normal.</p>
    <p>The Emperor has stated that you can't go to the galaxy anymore...</p>
    <p>But, you can, of course go to the galaxy if you absolutely must...</p>
    <p>Ughh...</p>
    <p>Wouldn't it be easy if you could have a card thortfully delivered via galaticamail...</p>
    <p class="last-p">Well now you can...</p>
    <p class="order-today"><a routerLink="/space-mail">ORDER YOURS TODAY</a></p>

  </div>

</section>