@font-face {
    font-family: 'Star Jedi';
    src: url('../fonts/star-wars/regular/StarJedi.woff2') format('woff2'),
        url('../fonts/star-wars/regular/StarJedi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

